@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

nav {
    padding-top: 34px;
}

.list_group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.list_item {
    font-size: 20px;
    font-weight: 500;
    color: #263238;
    cursor: pointer;
}

.col-3 {}

.btn_box {}

.btn_right {
    font-size: 24px;
    font-weight: 400;
    padding: 17px 57px;
    background: transparent;
    border: 2px solid #263238;
    border-radius: 5px;
}

@media(max-width:576px ){

}