@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

nav {
    padding-top: 34px;
}

.list_group {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.list_item {
    font-size: 20px;
    font-weight: 500;
    color: #263238;
    cursor: pointer;
    transition: .5s;
}

.list_item:hover {
    border-bottom: 1px solid #263238;
    transition: .5s;
}

.btn_box {
    display: flex;
    justify-content: end;
}

.btn_right {
    font-size: 24px;
    font-weight: 400;
    padding: 17px 57px;
    background: transparent;
    border: 2px solid #263238;
    border-radius: 5px;
}

/* --------------------------- */

.text_header {
    font-size: 50px;
    font-weight: 600;
    color: #000;
    padding-bottom: 20px;
    padding-top: 114px;
}

.paragraf {
    font-size: 18px;
    font-weight: 400;
    color: #8F95A5;
}

.header_btn {
    padding: 17px 67px;
    font-size: 26px;
    font-weight: 400;
    color: #fff;
    background: #263238;
    border: none;
    border-radius: 10px;
}

.girl-photo {
    width: 100%;
}

/* RESPONSIVE WEBSITE */

@media(max-width: 576px) {
    .text_box {
        text-align: end;
    }

    .girl_box {
        text-align: center;
    }

    .sm-girl-img {
        width: 100%;
    }

    .text_header {
        font-size: 24px;
        text-align: center;
        padding-top: 16px;
    }

    .paragraf {
        font-size: 14px;
        text-align: center;
    } 

    .header_btn {
        padding: 18px 77px;
    }

    .div_box {
        text-align: center;
    }
}